
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
}
body{
    background-image: url('https://static.vecteezy.com/system/resources/previews/005/572/340/original/foggy-landscape-forest-in-the-morning-beautiful-sunrise-mist-cover-mountain-background-at-countryside-winter-free-photo.jpg');
    background-size: cover ;
    background-repeat: no-repeat;
}

.cont{
    width: 45%;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}
.wrap{
    width: 450px;
    background-color: #aba2a2;
    background: rgba(63, 47, 47, 0.105);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(255, 254, 254, 0.25);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}
