

 #main { 
max-height: 100%;

padding: 15px;
background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('stadium.png');
background-size: cover;
background-repeat: repeat-y;

font-family: sans-serif;}
#title 
{text-align: center;
    font-size: 30px ;
    text-shadow: 0 0 20px #fff, 0 0 30px #4dff5c, 0 0 40px #4d5cff, 0 0 50px #4dffff, 0 0 60px #c1ff4d, 0 0 70px #ffe14d, 0 0 80px #49fd2d ;
}
#hello1
{
    font-size: 30px;
    font-family: cursive;
    font-weight: bold;
    color:white
}
#main p{text-align: center}
#img-div {max-width: 600px;
margin: 0 auto;
padding: 15px;
backdrop-filter: saturate(180%) blur(10px);
border-radius: 5px;}
#image {display: block;
max-width: 100%;
padding-bottom: 10px;
}
#tribute-info {max-width: 600px;
margin: 0 auto;}
#tribute-info > h3 {text-align: center;}
#tribute info > ul li {margin-bottom: 10px;
line-height: 30px;
}
h3{background-color:#ce9dd9;
}
h4 {backdrop-filter: saturate(180%) blur(10px);
color : white }
h5 {text-align: center;
background-color:#ce9dd9;}
